@import 'variable';

// use of mixins//
@mixin flex-center { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  
  } 

$font-size: 19px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    @include flex-center;
    background-color: #cfdaf0;
    color: rgb(13, 12, 12);
    padding: 15px 20px;

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
    }

    ul li {
        display: inline;
        margin-left: 20px;
    }

    ul li a {
        color: rgb(39, 35, 35);
        text-decoration: none;
        font-size: 18px;
    }

    a:hover {
        color: rgb(21, 37, 181);
        font-size: 20px;
    }
}

.header {

    text-align: center;
    padding: 50px;
    background-color: #f8f8f8;

    h1 {
        font-size: $font-size *2;
        color: #333;
    }

    p {
        font-size: $font-size;
        color: #333;

    }
}

.content {

    ///inheritence and extending in scss
    @extend .navbar;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
}

.product-container {
    margin: 0 20px;
    text-align: center;
    max-width: 300px;

    img {
        max-width: 100%;
        height: 250px;
        border-radius: 8px;
    }

    h3{
        margin-top: 10px;
        font-size: 20px;
        color: #333;
    }

    p {
        font-size: 16px;
        color: #666;
    }

    //// variables
    .primary-btn{
        background-color: $primary-color;
        margin-top: 10px;
        border-radius: 3px;
        padding: 4px;
    }
    .secondary-btn{
        background-color: $secondary-color;
        margin-top: 10px;
        border-radius: 3px;
        padding: 4px;
    }
    .tertiary-btn{
        background-color: $danger-color;
        margin-top: 10px;
        border-radius: 3px;
        padding: 4px;
    }
}